<div class="d-flex justify-content-center align-middle">

    <section>
        <div class="titulo">
            <p><strong>Encontre seu personagem preferido!</strong></p>
            <div class="imagens">
                <img class="img-fluid" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                    alt="logo-github" width="80px" height="80px">
                <img class="img-fluid" src="https://seeklogo.com/images/J/java-logo-7F8B35BAB3-seeklogo.com.png"
                    alt="logo-github" width="55px" height="55px">
            </div>
            <div>
                <a class="btn logar btn-lg" [routerLink]="['characters']">ACESSE AGORA</a>
            </div>
        </div>
    </section>
    <div>
    </div>